<p id="notice"><%= notice %></p>

<p>
  <strong>Pet name:</strong>
  <%= @record.pet_name %>
</p>

<p>
  <strong>Pet type:</strong>
  <%= @record.pet_type %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @record.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @record.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @record.weight %>
</p>

<p>
  <strong>Last visit date:</strong>
  <%= @record.last_visit_date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
